html,
body, 
#main {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#myCanvas {
  background: grey;
}

#parallelogram {
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    background: red;
  }


.point {
    background: red;
    border-radius: 100%;
    width: 11px;
    height: 11px;
    position: absolute;
}

button {
    cursor: pointer;
}

#about {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    text-align: center;

  }

  #text{
    position: absolute;
    font-family: Calibri, "sans-serif";
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }